@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 13px;
}

.nav-pdf {
	background-color: #ce2222;
}

.table-head {
	background-color: #ce2222;
}

.bank {
	color: #ce2222;
}

.cols-table-head {
	height: 55px;
}

.cols-table {
	height: 65px;
}

.batik {
	margin-left: 45rem;
	/* margin-: 13px; */
}

#footer {
	position: running(footer);
}
